body {
    font-family: Arial, sans-serif;
    margin: 10px;
    background: linear-gradient(90deg, #8e99fa);
    background-size: 300% 300%;
    animation: gradientMove 6s ease infinite;
    text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#timer {
  width: 460px;
  font-size: 70px;
  background-color: rgb(113, 145, 116);
  color: rgb(0, 0, 0);
  padding: 25px;
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 5px 5px 5px #000000;
  text-align: center;
  margin-left: 450px;
}
#labels {
  margin-top: -25px;
  z-index: 2;
  color: rgb(0, 0, 0);
  font-size: 12px;
}
#hh {margin-left: 0px;}
#mm {margin-left: 95px;}
#ss {margin-left: 88px;}
#ms {margin-left: 100px;}

#controls {
  margin-left:420px;
  margin-top: 30px;
}

button {
  width: 100px;
  height: 40px;
  float: left;
  margin-left: 120px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #000000;

}
#go    { background-color: rgb(169, 255, 130); }

#stop  { background-color: rgb(255, 101, 101);  display: none; }

#clear { background-color: rgb(147, 192, 252); display: none;}

body, button {
  font-family: 'Verdana';
}

/* ===== NAVIGATION ===== */

.main-nav {
    margin-top: 100px;
    margin-left: 0px;
}

.main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-width: 420px;
}

/* Button base + glass + neumorphism */
.main-nav a {
    position: relative;
    overflow: hidden;

    display: flex;
    align-items: center;
    gap: 10px;

    padding: 10px 15px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #222;


    border-radius: 14px;

    box-shadow:
        6px 6px 14px rgb(3, 3, 3),
        -6px -6px 14px rgba(255, 255, 255, 0);

   
}